@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,400&family=Nunito:wght@200;300;400;600&display=swap");
:root {
  --primary-color: #100f2e;
  --secondary-color: #0a0919;
  --little-color: #fec576;
  --smoke: #c2b3b8;
}
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
